body {
    font-family: sans-serif, poppins;
    background: #E5E5E5;
    position: relative;
}


@media only screen and (min-width: 1200px){
    .grid-layout {
        display: grid;
        grid-template-columns: 6% 88% 6%;
        justify-content: stretch;
        
    }
    .grid{
        margin: 5px;
        margin-bottom: 142px;
    }
    .g2 {
        max-width: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        
    }
    .box1{
        
        width: 49%;

        margin: 1%;
    }
    .image1 {
        width: 100%;
        border-radius: 20px;
        
    }
    .box2{
        
        width: 49%;
        margin: 1% 1% 1% 40px;
    }
    h1 {
        width: 496px;
        height: 46px;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 130%;
        color: #091E42;
        bottom: 0;
        margin-bottom: 0;
    }
    .canopy {
        display: flex;
        top: 0;
        
    }
    .canopy p {
        margin-right: 27px;
    }
    .canopy .p1{
        width: 75px;
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #344563;
    }
    .canopy .p2{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 120px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    .canopy .p3{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 120px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    .facebook {
        display: flex;
        top: 0;
        
    }
    .facebook p {
        margin-right: 27px;
    }
    .facebook .p1{
        width: 96px;
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #344563;
    }
    .facebook .p2{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 122px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    .facebook .p3{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 120px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    .uber {
        display: flex;
        top: 0;
        
    }
    .uber p {
        margin-right: 27px;
    }
    .uber .p1{
        width: 43px;
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        color: #344563;
    }
    .uber .p2{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 140px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    .uber .p3{
        display: list-item;
        list-style: circle #C1C7D0;
        width: 120px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #6B778C;
    }
    
    h2 {
        
        width: 496px;
        height: 50px;   
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #344563;
        margin: 0;
    }
    .buttons {
        margin-top: 28px;
    }
    .buttons button {
        padding: 0px 12px 0px 12px;
        height: 24px;
        margin-right: 8px;
        margin-top: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: 0.03em;
        color: #6070FF;
        background: #EBEBFF;
        border: none;
        border-radius: 7%;
    }

    .buttons button:hover{
        color: #091E42;
        background-color: #6070FF;
    }
    .project button{
        padding: 10px;
        border-radius: 10px;
        background-color: inherit;
        border: 1px solid #396DF2;
        margin-top: 40px;
    }
    .project button a{
        margin: auto;
        text-decoration: none;
        width: 122px;
        height: 44px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #396DF2;
    }
    .project button:hover {
        background-color: #6070FF;
    }
    .project button:hover a{
        color: #091E42;
    }
    .about {
        display: flex;
        background-color: #FFFFFF;
        height: 500px;
        border-top-right-radius: 100px;
        padding-bottom: 160px;
    }
    .about1{
        padding-top: 166px;
        margin-left: 6%;
        
    }
    .about2{
        padding-top: 166px;
        margin-left: 6%;
        width: 48%;
        
    }
    .about2 a{
        width: 100%;
        text-decoration: none;
        height: 24px;
        left: 24px;
        right: 78px;
        top: calc(50% - 24px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #344563;
    }
    .about2 a:hover {
        color:#091E42;
    }
    .html {
        padding: 108px;
        background-color: #F7F7F9;
        font-size: 48px;
        color: orangered;  
        border-radius: 20px;  
    }
    .html p{
        width: 98px;
        height: 24px;
        left: 12px;
        top: 76px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #253858;

    }
    .css {
        padding: 108px;
        background-color: #F7F7F9;
        font-size: 48px;
        color: rgb(7, 94, 160);  
        border-radius: 20px;  
    }
    .css p{
        width: 98px;
        height: 24px;
        left: 12px;
        top: 76px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #253858;

    }
    .java {
        padding: 108px;
        background-color: #F7F7F9;
        font-size: 48px;
        color: rgb(207, 187, 11);  
        border-radius: 20px;  
    }
    .java p{
        width: 98px;
        height: 24px;
        left: 12px;
        top: 76px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #253858;

    }
    .dropmenu1 {
        display: none;
    }
    .dropmenu1 div {
        padding: 12px;
        margin-right: 12px;
        margin-left: 6%;
    }
    .languajes:hover .dropmenu1 {
        display: flex;
        
    }

    .about2 button {
        padding: 46px;
        width: 100%;
        background-color: inherit;
        border: none;
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        
    }
    .am {
        margin: 0;
        width: 447px;
        height: 33px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #091E42;

    }
    .intro {
        width: 447px;
        height: 102px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #344563;
    }
    .lc {
        width: 117px;
        height: 24px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7F8CFF;
        margin-bottom: 24px;
    }
    .icons {
        display: flex;
        font-size: 20px;
        

    }
    .icons div {
        padding: 0px 10px 0px 10px;
    }
    .resume {
        width: 158px;
        height: 49px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.03em;
        color: #396DF2;
        background-color: inherit;
        border-radius: 10px ;
        border-color: #396DF2;
        margin-top: 30px;
        
    }
    .resume:hover {
        color: #091E42;
        border-color: #091E42;
        background-color: #396DF2;
    }

}

@media only screen and (max-width: 375px){
    .g2 {
        grid-column: 2/6;
        
    }

}